.form-signUp input {
    margin-bottom: 20px;
}

.btn-login-group {
    float: right
;}
.btn-login-group button {
    margin-left: 20px;
    width: 130px;  
;}

.invalid-feedback {
	padding-bottom: 10px;
}